<!DOCTYPE html>
<html>
    <head>
        <script src="./js/color-modes.js"></script>
        <link
        rel="stylesheet"
        href="./bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
        />
        <link rel="shortcut icon" href="..img/y.png" type="image/x-icon">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta
        name="author"
        content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
        />
        <meta name="generator" content="Hugo 0.112.5" />
        <title>Home page</title>
    
        <link href="./css/bootstrap.min.css" rel="stylesheet" />
    
        <style>
            .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            }
    
            @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
            }
    
            .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, 0.1);
            border: solid rgba(0, 0, 0, 0.15);
            border-width: 1px 0;
            box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
            inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
        }
    
            .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }
    
            .bi {
            vertical-align: -0.125em;
            fill: currentColor;
        }
    
            .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }
    
            .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    
            .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    
            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }
        .bd-mode-toggle {
            z-index: 1500;
        }
        </style>
    
        <!-- Custom styles for this template -->
        <link href="./css/sidebars.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/myStyle.css" />
        <style>
/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
    color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
/*
 * Base structure
 */
body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }
    .cover-container {
    max-width: 42em;
    }
        </style>
    </head>
<body class="d-flex h-100 text-center text-bg-dark">
        
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../auth/header.ejs', {current_page:"signup"}) %>
    <main class="px-3">
        <h1>
            Sign up
        </h1>
        <form
            id="signupForm"
            action="/signup"
            method="post"
            class="text-start mx-auto mt-5"
            style="max-width: 22em"
            >
            <div class="mb-3">
                <label for="exampleInputUsername" class="form-label"
                >Username :</label
                >
                <input
                type="text"
                class="form-control"
                id="exampleInputUsername"
                name="username"
                />
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                >Email address :
                </label>
                <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                name="email"
                />
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                >Password :
                </label>
                <input
                type="text"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
                />
            </div>
            <div class="mb-3 form-check">
                <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
                >
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    
    </main>
    <footer class="mt-auto text-white-50">
        <p>Designed and developed by <span class="fw-bold">Youssif Abdelghani <a href="https://www.instagram.com/youssif.abdelghani/" class="text-white bi bi-instagram" target="_blank"></a>  </span>©2024 </p>
    </footer>
</div>
<script>
    signupForm.addEventListener("submit", async (e) => {
      e.preventDefault();

      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({
          email: exampleInputEmail1.value,
          Password: exampleInputPassword1.value,
        }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await res.json();
      if (data.arrValidationError) {
        console.log(data.arrValidationError)
      }

      if (data.existEmail) {
        console.log(data.existEmail)
      }


      
      if (data.id) {
        console.log(data.id)
        location.assign("/home")
      }
        
        
    });
</script>

<script src="./js/bootstrap.bundle.min.js"></script>
    </body>
</html>